<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TaskbarIcon" value="0"/>
		<add key="TaskbarColor" value="0"/>
		<add key="WorkingComboState" value="0"/>
		<add key="RestoreComboText" value="True"/>
		<add key="ParallelSave" value="False"/>
		<add key="Parallel" value="False"/>
		<add key="StopConfirm" value="False"/>
	</appSettings>
</configuration>