<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TaskbarIcon" value="0"/>
		<add key="TaskbarColor" value="0"/>
		<add key="WorkingComboState" value="0"/>
		<add key="RestoreComboText" value="True"/>
		<add key="ParallelSave" value="False"/>
		<add key="Parallel" value="False"/>
		<add key="StopConfirm" value="False"/>
		<add key="Notify1" value="False"/>
		<add key="NotifyTime1" value="12:00"/>
		<add key="NotifyMsg1" value="お昼になりました。"/>
		<add key="Notify2" value="False"/>
		<add key="NotifyTime2" value="00:00"/>
		<add key="NotifyMsg2" value=""/>
		<add key="Notify3" value="False"/>
		<add key="NotifyTime3" value="00:00"/>
		<add key="NotifyMsg3" value=""/>
	</appSettings>
</configuration>